.whatsappBtn {
  position: fixed;
  bottom: 50px;
  right: 30px;
  width: 60px;
  height: 60px;
  z-index: 1000;
  border-radius: 50%;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* Desktop */
@media (min-width: 1024px) {
  .whatsappBtn {
    bottom: 100px;
    right: 120px; 
  }
}