.whatsappBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 60px;
  z-index: 1000;
  border-radius: 50%;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px rgb(89, 183, 119);
}
.whatsappBtn:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {
  .whatsappBtn {
    bottom: 150px;
    right: 40px;
    box-shadow: 0px 0px 5px 5px rgb(89, 183, 119);
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .whatsappBtn {
    bottom: 100px;
    right: 70px;
    box-shadow: 0px 0px 5px 5px rgb(89, 183, 119);
  }
}
