.turnosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  background-color: #b6c9d5;
  width: 100%;
  scroll-margin-top: 80px;
  border-radius: 10px;
  margin: 4rem 0 4rem 0;
  box-shadow: 0px 0px 10px 10px gray;
}

.title {
  font-size: 2.2rem;
}
.parrafo {
  text-align: center;
  max-width: 600px;
  margin: 1rem 0;
  font-size: 1.3rem;
  line-height: 1.5;
}

.btnTurnosContainer {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  padding: 1rem 2rem;
  font-weight: 600;
  border-radius: 5px;
  border: rgba(5, 29, 56, 0.61) 2px  solid;
}
.imgButton {
  padding-right: 1rem;
}

/* Tablet */
@media (min-width: 768px) {
  .btnTurnosContainer {
    justify-content: center;
    width: 50%;
    margin: 0 auto;
  }

 
}

/* Desktop */
@media (min-width: 1024px) {
  .btnTurnosContainer {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    width: 45%;

  }
  .btn{
padding-left: 10rem;
  }
}