.turnosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  background-color: #f5f5f5;
  width: 100%;
  scroll-margin-top: 80px;
}

.title {
  font-size: 2.2rem;
}
.parrafo {
  text-align: center;
  max-width: 600px;
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.5;
}

.btnTurnosContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #d9d8d8;
  width: 100%;
  padding: 1rem 2rem;
  font-weight: 500;
}
.imgButton {
  padding-right: 1rem;
}

/* Tablet */
@media (min-width: 768px) {
  .btnTurnosContainer {
    justify-content: center;
    width: 50%;
    margin: 0 auto;
  }

 
}

/* Desktop */
@media (min-width: 1024px) {
  .btnTurnosContainer {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    width: 45%;

  }
  .btn{
padding-left: 10rem;
  }
}