.turnosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  background-color: #b6c9d5;
  width: 100%;
  scroll-margin-top: 80px;
  border-radius: 10px;
  margin: 5rem 0 1rem 0;
  box-shadow: 0px 0px 10px 5px gray;
  max-width: 1200px;
}

.parrafo {
  text-align: center;
  max-width: 600px;
  margin: 1rem 0;
  line-height: 1.5;
}

.btnTurnosContainer {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px #5a5b5c;
  color: #000000;
  text-align: center;
}
p {
  margin: 0;
}
.btn:hover {
  box-shadow: 0px 0px 7px 5px #296fca;
}
.imgButton {
  padding-right: 1rem;
}

/* Tablet */
@media (min-width: 768px) {
  .btnTurnosContainer {
    justify-content: center;
    width: 50%;
    margin: 0 auto;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .btnTurnosContainer {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    width: 45%;
  }
  .btn {
    padding-left: 10rem;
  }
}
