.footerContainer {
  display: flex;
  flex-direction: column;
  background-color: #bfd2dd;
  padding: 1.5rem;
  gap: 1.2rem;
  align-items: center;
}

.site {
  color: red;
  font-size: large;
}
.logoContainer {
  display: flex;
  justify-content: center;
}
.navLinksContainer {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 80%;
}
.link {
  text-decoration: none;
  color: black;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.socialNetworksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialNetworksIcons {
  display: flex;
  gap: 1.6rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 40%;
  max-width: 50%;
}
.copyright {
  text-align: center;
  font-size: 0.9rem;
  color: #333;
}

/* TABLET */

@media (min-width: 768px) {
  .footerContainer {
    display: flex;
    flex-direction: row;
    background-color: #bfd2dd;
    padding: 1.5rem;
    gap: 1.2rem;
    align-items: center;
    border-radius: 10px;
  }

  .logoContainer {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  .logo {
    width: 100%;
  }
  .navLinksContainer {
    display: flex;
    width: 100%;
    height: fit-content;

    flex-direction: column;
    flex: 1;
    align-items: start;
  }

  .link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  .socialNetworksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 80%;
  }

  .socialNetworksIcons {
    display: flex;
    gap: 1.6rem;
    margin-top: 0.5rem;
    width: 50%;
    max-width: 50%;
  }
  .site {
    color: blue;
  }
}
@media (min-width: 1024px) {
  .logo {
    width: 60%;
    max-height: 50px;
  }
  .site {
    color: #532c14;
  }
  .socialNetworksIcons {
    display: flex;
    gap: 1.6rem;
    margin-top: 0.5rem;
    width: 30%;
  }
}
