.footerContainer {
  display: flex;
  flex-direction: column;
  background-color: #bfd2dd;
  padding: 1.5rem;
  gap: 1.2rem;
  align-items: center;
}

.logoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navLinksContainer {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.socialNetworksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SocialNetworkTitle {
  width: 100%;
}
.socialNetworksIcons {
  display: flex;
  gap: 1.6rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

/* TABLET */

@media (min-width: 768px) {
  .footerContainer {
    display: flex;
    flex-direction: row;
    background-color: #bfd2dd;
    padding: 1.5rem;
    gap: 1.2rem;
    align-items: center;
    border-radius: 10px;
  }

  .logoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
  }
  .navLinksContainer {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    flex: 1;
  }

  .link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  .socialNetworksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  .SocialNetworkTitle {
    width: 100%;
  }
  .socialNetworksIcons {
    display: flex;
    gap: 1.6rem;
    margin-top: 0.5rem;
  }
}
