.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
  margin-bottom: 2rem;
  scroll-margin-top: 80px;
}
.title {
  font-size: 2.2rem;
  text-align: center;
}
.parrafo {
  color: #144661;
  text-align: justify;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  text-align: start;
  gap: 1rem;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}
.card {
  display: flex;
  color: #144661;
  gap: 0.4rem;
  justify-content: start;
  align-items: flex-start;
}
.imgCard {
  height: 2rem;
}

.map {
  border: 0;
  width: 90%;
 height: 400px;
}
