.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem 1rem 1rem;
  gap: 1rem;
  scroll-margin-top: 80px;
}
.title {
  width: 120%;
  font-size: 2.2rem;
  padding: .2rem 0 1rem 0;
  background-color: #a3bddb8a;
  
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 1200px;
}
.titleCard {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}
.card {
  background-color: #b6c9d5;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: start;
  width: 100%;
}

/* TABLET */

@media (min-width: 768px) {
  .cardsContainer {
    gap: 2.5rem;
    padding: 1rem 2rem;
  }
  .card {
    flex: 1 1 300px;
    max-width: 48%;
    padding: 2rem;
    font-size: 1.06rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .titleCard {
    font-size: 1.7rem;
  }
}
/* DESKTOP */

@media (min-width: 1024px) {
  .cardsContainer {
    gap: 3rem;
    padding: 1rem 4rem;
  }
  .card {
    max-width: 30%;
    padding: 2.5rem;
    font-size: 1.1rem;
  }
  .title {
    font-size: 2.6rem;
    background-color: #fff;
  }
  .titleCard {
    font-size: 1.9rem;
  }
}