.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem 1rem 1rem;
  gap: 1rem;
  scroll-margin-top: 80px;
  margin-top: 3rem;
}
.title {
  width: 100%;

  padding: 0.2rem 0 1rem 0;
}
.parrafo {
  margin: 0;
  line-height: 1.4;
  font-weight: 400;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 1200px;
  align-items: stretch;
}
.titleCard {
  text-align: center;

  margin: 0;
  padding: 0 0.5rem;
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  line-height: 1.2;
}
.card {
  background-color: #b6c9d5;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: start;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

/* TABLET */

@media (min-width: 768px) {
  .cardsContainer {
    gap: 2.5rem;
    padding: 1rem 2rem;
    align-items: stretch;
  }
  .card {
    flex: 1 1 300px;
    max-width: 48%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .title {
  }
  .titleCard {
    min-height: 4rem;
    max-height: 4rem;
  }
  .parrafo {
  }
}
/* DESKTOP */

@media (min-width: 1024px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 1rem 4rem;
    align-items: stretch;
  }
  .card {
    max-width: 100%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap: 1rem;
  }
  .title {
    background-color: #fff;
  }
  .titleCard {
    min-height: 4.5rem;
    max-height: 4.5rem;
    flex-shrink: 0;
    padding: 1.3rem;
  }
}
