.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem 1rem 1rem;
  gap: 1rem;
  scroll-margin-top: 80px;
}
.title {
  font-size: 2.2rem;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 1200px;
}
.titleCard {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}
.card {
  background-color: #b6c9d5;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: start;
  width: 100%;
}
.parrafo {
}
